@use 'sass:map';
@use '../mixins/mixins.scss' as *;

@include b(elipsis) {
}

@include b(elipsis) {
  position: relative;
  display: inline-block;
  width: 100%;
  // overflow-wrap: break-word;
  // box-shadow: transparent 0 0;
}
