@use 'sass:map';
@use '../mixins/mixins.scss' as *;

@include b(icon) {
  --color: inherit;
}

@include b(icon) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--color);
  font-size: inherit;
  width: 1em;
  height: 1em;

  // 设置不同类型的颜色
  @each $type in (primary, success, warning, danger, info) {
    // .sp-button--primary ...
    @include m($type) {
      --color: var(#{joinVarName(('color', $type))});
    }
  }
}
